*{
  text-align: center;
  font-family: Helvetica;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

a{
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.banner{
  background-image: url("./resources/images/building.png");
  background-position: center;
  background-size: 2000px;
  font-size: 18px;
  color: white;
}

.lilbanner{
  background-image: url("./resources/images/building.png");
  background-position: center;
  background-size: 3000px;
  font-size: 23px;
  color: white;
}

.bottombanner{
  background-color: lightgray;
  color: white;
  text-align: left;
}

.copyright{
  font-size: 11px;
}

.bottomtext{
  font-size: 20px;
}
